a {
	color: $link-color;
	&:hover {
		color: $link-hover-color;
	}
}
nav #main-nav-bar li#link-to-cart {
	padding-left: 20px;
	a {
		color: $link-color;
	}
	&:hover {
		.amount {
			border-color: $link-color;
		}
	}
}
ul#products li {
	a.info {
		color: #555;
	}
	.price {
		color: $link-color;
	}
	.product-image:hover {
		border-color: $link-color;
	}
}
input[type="submit"], input[type="button"], input[type="reset"], button, a.button {
	background-color: $link-color;
	border-color: darken($link-color, 10%);
}
.footer-container {
	background-color: $footer-color;
	border-top: 1px solid #c6c6c6;
	footer#footer {
		border-top: none;
		padding: 30px 0;
		#logos-footer {
			padding: 10px 0;
		}
		p {
			margin: 0;
			padding: 5px 0;
		}
	}
}
.wrapper-container {
	min-height: 500px;
}
#page_content {
	color: #555;
	line-height: 2em;
}